@media (min-width:320px){
    .theme-btn {
        padding: 0.3rem 0.5rem;
        border-radius: 0.2rem;
    }
    .nav-buttons {
        display: none;
    }
    .list-item .nav-link{
        display: block;
    }
    .header-area .navbar-nav {
        display: none;
        position: absolute;
        left:0;   
        top: 100px;
        flex-direction: column;
        background: #000;
        opacity: 1;
        text-align: left;
        width: 100%;
        padding: 50px 0;
    }
    .header-area .navbar-nav .active{
        display: block;
    }

    .header-area .navbar-nav .list-item{
        margin-top: 1rem;
        margin-left: 20px;
    }
    .hero-left {
        width: 100%;
    }

    .hero-section .hero-title {
        font-size: 0.7rem;
        line-height: 1.65rem;
    }
    .hero-details {
        margin: 0.5rem 0;
        font-size: 0.6rem;
    }
    .hero-section .col_1_of_2{
        width: 100%;
        margin: 0 auto;
    }
    .hero-btn-sarch{
        flex-direction: column;
        margin: 0 auto;
    }
    .hero-btn-sarch .theme-btn{
        margin: 15px 0;
    }

    .hero-btn-sarch .search-bar {
        width: 293px; 
        margin: 10px 0;
    }
    .hero-btn-sarch .search-bar input {
        width: 150px;
    }
    .hero-btn-sarch .search-bar label {
        font-size: 0.7rem;
        margin-left: 41px;
    }

    .hero-btn-sarch .search-bar {
        margin: 3px 0 46px 0;
    }
}




@media (min-width:400px){
    .row {
        padding: 1% 0;
    }
    .hero-details {
        font-size: 0.7rem;
        margin: 1rem 0
    }
    .hero-section .hero-title {
        font-size: 0.9rem;
        line-height: 2rem;
    }
    .hero-right {
        float: none;
    }
    .hero-right .banner-image img {
        width: 69%;
    }
    .hero-btn-sarch .search-bar {
        width: 390px;
    }
    .hero-btn-sarch .search-bar input {
        width: 250px;
    }
}


@media (min-width:500px){
    .hero-details {
        font-size: 0.8rem;;
    }
    .hero-btn-sarch .theme-btn {
        margin: 20px 0;
    }
    .hero-btn-sarch .search-bar {
        width: 422px;
    }
    .hero-btn-sarch .search-bar input {
        width: 278px;
    }
}

