@media (max-width:1200px) {
    .header-area .navbar-nav .nav-item{
        margin: 0 0.5rem;
    }
    .toggle-button{
        display: none;
    }    
}
@media (max-width:768px) {
    .toggle-button{
        display: inline-block;
    }
    .active{
        display: inline-block;
    }
    .header-area .navbar-nav{
        display: none;
    }
} 

