/* ======================= Google Fonts ======================= */

/* ===== BASE ===== */
*, ::after, ::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size:14px
}
ul li{list-style: none;} a{text-decoration: none; color:var(--body-color)} img{width: 100%; display: block;}
button{
    background: none;
    border: none;
    outline: 0;
}
:root{
    /* Custom Color */
    --body-color:#000;
    --theme-bg-color:#FF0043;
    --theme-outline-color:#7B014C;
    --border-outline-color:#E2E2E2;
    --light-white-color:#fff;
    --light-black-color:#A69999;
    /* Typography */
    --font:'Poppins';
    --font-weight-normal: 400;
    --font-weight-bold: 800;
    --normal-font-size:0.9rem;
    --medium-font-size:1.5rem;
    --small-font-size:1rem
}
.container{
    max-width: 1280px;
    padding: 0 3%;
    margin: 0 auto;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    flex-direction: row;
    align-items: center;
    padding: 4% 0;
}
.col_1_of_2{
    width:49.9%;
}
.theme-btn{
    padding: 0.4rem 0.8rem;
    background: var(--theme-bg-color);
    cursor: pointer;
    color: var(--light-white-color);
    border-radius: 0.3rem;
    transition: 0.3s;
    font-weight: 600;
    /* font-size: var(--normal-font-size); */
}
/* ======================= Header Area ======================= */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    /* background: #000;; */
}
.navbar-nav{
    display: flex;
    justify-content: space-between;    
    position: relative;
}
.navbar-nav .logo img{
    position: absolute;
    left: 0;
    top: 0;
}
#toggle-icon{
    display: none;
    font-size: 1.5rem;
    position: absolute;
}
.nav-link{
    margin: 0 1.5rem;
    padding: 0 0.5rem;
    background: #fff;
    font-size: var(--normal-font-size);
    transition: 0.3s;
}
.nav-link:hover{
    color: var(--theme-bg-color);
}
.nav-buttons{
    display: flex;
    justify-content: space-between;
}
.theme-btn{
    margin-right: 0.5rem;
}
.theme-btn a{
    color:var(--light-white-color)
}
.theme-btn:hover{
    background: var(--body-color);
}
/* ======================= Hero Section ======================= */
.hero-section{
    padding: 3rem 0;
}
/* Hero Left */
.hero-left{
    width: 95%;
}
.hero-section .hero-title{
    font-size: 1.5rem;
    line-height: 3rem;
}
.hero-details{
    margin-top: 1.5rem;
    font-size: var(--normal-font-size);
    line-height: 1.7rem;
}

.hero-btn-sarch{
    display: flex;
    align-items: center;
    margin-top: 2rem;
}
.hero-btn-sarch .theme-btn{
    padding: 9px 20px;
}

.hero-btn-sarch .search-bar{
    width: 380px;
    border: 1px solid var(--border-outline-color);
    padding: 8px 5px;
    border-radius: 0.2rem;
}
.hero-btn-sarch .search-bar input{
    border: none;
    width: 250px;
    margin-left: 5px;
    outline: none;
}
.hero-btn-sarch .search-bar i, label, ::placeholder{
    color: var(--light-black-color);
}
.hero-btn-sarch .search-bar i{
    padding: 0 4px;
}
.hero-btn-sarch .search-bar label{
    border: 1px solid var(--border-outline-color);
    padding: 2px 5px;
    margin-left: 20px;
    border-radius: 0.1rem;
    cursor: pointer; 
    transition: 0.3s;
}
.hero-btn-sarch .search-bar label:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 0.5px 7px 0.5px;
}
/* Hero Right */
.hero-right{
    float: right;
    position: relative;
}
.hero-right .banner-image img{
    width: 90%;
    margin: 0 auto;
}